body {
  background: radial-gradient(#ffffff, #759cff);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-container {
  width: 900px;
  background: linear-gradient(to right, #5a5786, #021a5e);
  border-radius: 25px;
}

.navbar-brand span {
  font-size: 18px;
  transition: font-size 0.1s;
  margin-right: 20px;
  color: rgb(255, 255, 255) !important;
}

.navbar-brand span:hover {
  font-size: 22px;
}

.items-menu {
  margin: 0;
  margin-left: 12px;
  height: 100%;
  display: flex;
  align-items: center;
}

.items-menu > .d-none {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  background-color: #172b5e;
  transition: width 0.2s, height 0.2s;
  position: relative;
  z-index: 10;
}

.items-menu > .d-none:hover {
  width: 70px;
  height: 70px;
}

.navbar-brand > a > img {
  border-radius: 50px;
}

@media (max-width: 900px) {
  .menu-container {
    border-radius: 0px;
  }
}

@media (max-width: 576px) {
  .items-menu {
    align-items: start;
  }
}
